/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom properties */

:root {
    --color-gray: #e5e7eb;
    --color-green: #596D48;
    --color-main-text: #3f4141;
}

/* universal font styling*/

@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

p {
    font-family: Arial, 'Courier New', Courier, monospace;
    color: var(--color-main-text);
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
    color: var(--color-green);
    font-weight: bold;
}

/* page layout */

body {
    background-color: black;
    display: flex;
    height: 100vh;
    width: 75%;
    margin: auto;
}

/* left panel */

.left-panel {
    background-image: url(asset/background.jpg);
    background-color: green;
    background-size: cover;
    width: min(480px, 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-panel p {
    color: white;
}

.logo {
    background: rgba(0, 0, 0, 0.5); 
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30%;
}

.logo p {
    font-size: 80px;
    font-family: "Norse-Bold", Verdana, Geneva, Tahoma, sans-serif;
}

.logo img {
    height: 80%;
}

.credit {
    height: 20px;
    margin-top: auto;
    padding-bottom: 5px;
}

button {
    color: white;
    font-size: 1.2rem;
    background-color: var(--color-green);
    padding: 0.8rem 3rem;
    border-radius: 5px;
    border: 1px solid var(--color-green);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 10px 3px;

}

/*right panel*/

.right-panel {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-section, .field-section, .button-section {
    padding: 30px;
}

.top-section {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.7rem;
    font-size: 1.5rem;
}

.field-section {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 10px -3px;
}

/* form */

legend {
    margin-bottom: 1.2rem;
    font-family: Arial, 'Courier New', Courier, monospace;
    color: var(--color-main-text);
    font-size: 1.5rem;
    font-weight: bold;  
}

.row {
    display: flex;
    gap: 3rem;
}

label {
    display: block;
    margin: 1rem 0 0.5em 0;
    font-family: Arial, 'Courier New', Courier, monospace;
    color:rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.password-instruction {
    display: block;
    margin: 1rem 0 0.5em 0;
    font-family: Arial, 'Courier New', Courier, monospace;
    color:rgba(0, 0, 0, 0.8);
    font-size: 0.8rem;
    line-height: 1.2rem;
}

input {
    width: 15rem;
    height: 1.8rem;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    transition: border 0.25s;
}

input:not(:focus):not(:placeholder-shown):valid {
    outline: none;
    border: 1px solid #007bff;
    box-shadow: #007bff 3px 4px 5px -4px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    outline: none;
    border: 1px solid #d50000;
    box-shadow: #d50000 3px 4px 5px -4px;
}

[required]::after {
    content:" *";
    color: #d50000;
}

.error-message, #pass-error-message {
    margin-top: 0.4rem;
    display: none;
    color: #d50000;
    font-size: 0.8rem;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block; 
  }

  





